* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(251, 224, 147);
    font-family: 'Bona Nova', serif;
}

/*Aici incepe CSS-ul pentru header*/

header {
    background-color: rgba(28, 89, 2, 0.5);
    margin: 0;
    display: flex;
    justify-content: space-around;
}

header h2, .logo-wrapper{
    margin: 0;
}

header h2 {
    color: black;
    font-size: 40px;
    padding: 50px;
}

header h2 a {
    text-decoration: none;
    color: rgb(78, 99, 14);
}

header h2:hover {
    transition: all 3s;
    transform: scale(1.1);  
}

header .logo-wrapper img{
    height: 120px;
    width: 230px;
    padding: 20px 40px 0px 0px;
}

header .logo-wrapper img:hover{
    transition: all 2s;
    transform: scale(1.3);
}

/*Aici incepe CSS-ul pentru navbar*/

nav {
    background-color: black;
    margin: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px 20%;
    margin: 0%;
}

nav ul li a{
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav ul li a:hover{
    color: rgb(251, 224, 147);
}


/*Aici stilizez textul din index */

#about-me {
    
    width: 80%;
    margin: 50px 100px;
    display: flex;
    font-size: 1rem;
}

#about-me .image-wrapper img{
    height: 490px;
    width: 380px;
    margin: 0px 15px;
}

#about-me .description .me-description, .blog-description {
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(248, 204, 83, 0.5);
    margin: 0;
    text-indent: 20px;
    padding: 25px 15px;
}



.buffer {
    height: 50px;
}

/*Alte div-uri*/

.about-blog {
    width: 80%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(248, 204, 83, 0.5);
    margin: 0;
    text-indent: 20px;
    padding: 25px 15px;
    margin: 50px 100px;
}

/*Stilizarea formularului din index*/

.call-to-action-header {
    text-align: center;
    font-size: 4rem;
    color: red;
    background-color: rgba(248, 204, 83, 0.8);
    margin: 0px 100px;
    width: 80%;
}

#hike-request {
    text-align: center;
    background-color: rgba(248, 204, 83, 0.2);
    padding: 20px 0px;
    margin: 0px 100px;
    width: 80%;
    margin-bottom: 50px;
}

#hike-request label {
    font-size: 1.5rem;
    display: block;
}

#hike-request .hike-before {
    display: inline;
}

#hike-request input[type=submit] {
    height: 50px;
    width: 200px;
    border-radius: 300px;
    margin: 15px 0px;
    border-color: rgba(248, 204, 83, 0.5);
    background-color: rgba(248, 204, 83, 0.5);
    font-size: 2rem;
    color: red;
    font-family: 'Bona Nova', serif;
    font-weight: bold;
}

#hike-request input[type=submit]:hover{
    background-color: rgba(248, 204, 83, 0.8);
}

#hike-request input[type=text], input[type=email] {
    height: 30px;
    width: 200px;
    margin: 15px 0px;
    background-color: rgba(248, 204, 83, 0.2);
    border-radius: 200px;
    border: 2px solid black;
}

#hike-request input[type=radio] {
    background-color: rgba(248, 204, 83, 0.2);
}

.form-text p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0px 100px;
    width: 80%;
}

/* Stilizare elemente din paginile muntilor */

.mountain-title {
    text-align: center;
    color: red;
    background-color: rgba(248, 204, 83, 0.8);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 15px;
}

.emphasized-title {
    color: red;
    text-align: center;
    background-color: rgba(248, 204, 83, 0.6);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 15px;
}

.about-mountain {
    width: 80%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(248, 204, 83, 0.5);
    margin: 0;
    text-indent: 20px;
    padding: 25px 15px;
    margin: 0px 100px;
}

.description {
    margin: 0 100px;
}

/* Stilizare carduri */



